<!DOCTYPE html">
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>MACHINE-Accueil-{{USER}}</title>
<!--[if IE]>
<style type="text/css">
html pre
{
width: 636px ;
}
</style>
<![endif]-->

<style type="text/css">
body
{
	margin: 10px 0 ;
	padding: 0 ;
	text-align: center ;
	font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
    color :darkorange;
	background: rgb(37, 37, 37) ;
}

div#conteneur
{
	width: 770px ;
	margin: 0 auto ;
	text-align: left ;
	border: 2px solid darkorange ;
	background: rgb(37, 37, 37) ;
}

h1#header
{
	height: 258px ;
	margin: 0 ;
	background: url(apple.jpg) no-repeat left top ;
}

h1#header a
{
	width: 480px ;
	height: 240px ;
	display: block ;
	background: url(https://i.imgur.com/fEUiLSw.jpg) repeat ;
	position: relative ;
	left: 150px ;
	top: 5px ;
	text-indent: -5000px ;
}


ul#menu
{
	height: 35px ;
	margin: 0 ;
	padding: 0 ;
	background: url(bg_menu.gif) repeat-x 0 -25px ;
	list-style-type: none ;
}
		
ul#menu li
{
	float: left ;
	text-align: center ;
}

ul#menu li a
{
	width: 130px ;
	line-height: 25px ;
	font-size: 1.2em ;
	font-weight: bold ;
	letter-spacing: 2px ;
	color: rgb(248, 246, 246) ;
	display: block ;
	text-decoration: none ;
	border-right: 2px solid darkorange ;
}

ul#menu li a:hover
{
	background: url(https://www.ondertussen.nl/wordpress/wp-content/uploads/2017/03/source-2.gif) repeat-x 0 0 ;
}

div#contenu
{
	padding: 0 25px 0 100px ;
	background: url(bg_page.gif) no-repeat 15px 15px ;
}

div#contenu h2
{
	padding-left: 25px ;
	line-height: 25px ;
	font-size: 1.4em ;
	background: url(https://www.numerama.com/content/uploads/2018/12/nswitchds_gris_02.jpg) no-repeat left bottom ;
	color: rgb(0, 0, 0) ;
	border-bottom: 1px solid darkorange ;
}

div#contenu h3
{
	margin-left: 15px ;
	padding-left: 5px ;
	border-bottom: 1px solid darkorange;
	border-left: 3px solid darkorange ;
	color: darkorange ;
}

div#contenu p
{
	text-align: justify ;
	text-indent: 2em ;
	line-height: 1.7em ;
}

div#contenu a
{
	color: darkorange;
}

div#contenu a:hover
{
	color: darkorange ;
}

p#footer
{
	margin: 0 ;
	padding-right: 10px ;
	line-height: 30px ;
	text-align: right ;
	color: darkorange ;
}

pre
{
	overflow: auto ;
	background: rgb(37, 37, 37) ;
	border: 2px solid darkorange ;
	padding: 5px 0 0 5px ;
	font-size: 1.2em ;
}

* html pre
{
	width: 636px ;
}

pre span
{
	color: deeppink
}

pre span.comment
{
	color: darkslateblue ;
}
</style>
  
  </head>
  
  <body>
  <div id="conteneur">    
    <h1 id="header"><a href="http://vps646618.ovh.net/{{USER}}" title="MACHINE-Accueil"><span>Colored Design</span></a></h1>

      <nav>
			<ul id= "menu">
      	 {% for h in groups['machines'] %}
      	 <li>
           <a href="{{USER}}/{{ hostvars[h].inventory_hostname }}.html">Machine {{h}}</a>
      	 </li>
      	 {% endfor %}
   		</ul>
    </nav>

	<div id="contenu">
		<h2>Explications</h2>
		<p>Gestion des info machines à notre disposition</p>
		<h2>Machine possible :</h2>
        <p>3 machines à notre actif et oui ce site est fou!</p>
		<h3>Autre sous-titre</h3>
		<p>C'EST PAS FAUX!</p>
			
	</div>
    
    <p id="footer">Comment c'est trop beau!</p>
  </div>
  </body>
</html>
